{% extends "layout.html" %}

{% block head %}
<title>Flowbite Flask</title>
{% endblock %}

{% block body %}


<table class="min-w-full bg-white border border-gray-200">
    <thead class="bg-gray-800 text-black">
        <tr>
            <th class="py-2 px-4 border-b border-gray-200">NAMA</th>
            <th class="py-2 px-4 border-b border-gray-200">EMAIL</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr class="hover:bg-gray-100">
            <td class="py-2 px-4 border-b border-gray-200">{{ user[1] }}</td>
            <td class="py-2 px-4 border-b border-gray-200">{{ user[2] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


<br>

<a href="{{ url_for('logout') }}">LOGOUT</a>
{% endblock %}
